body #education {
  color: white;
  font-size: 1.4em;
}

#education .card {
  background-color: #356AA0;
  
}

#education .card h1 {
  font-size: 2.4em;
  margin-bottom: 0.4em;
}

#education .card h2 {
  font-size: 1.3em;
  line-height: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

#education .card h3 {
  margin: 1em 0em;
  text-decoration: underline;
}

#education .card p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

#education .card ul {
  border: 1px solid #DDD;
}

.circle {
 height: 24px;
 -moz-border-radius:12px;
 -webkit-border-radius: 12px;
 width: 24px;
 float: left;
 -moz-box-shadow: -1px 1px 3px #000;
 -webkit-box-shadow: -1px 1px 3px #000;
 -o-box-shadow: -1px 1px 3px #000;
 box-shadow: -1px 1px 3px #000;
 margin-right: 4px;
 margin-bottom: 4px;
}

#dead .circle {
	background-color: black;
}

#nursing_home .circle {
	background-color: red;
}

#dependent_on_others .circle {
	background-color: orange;
}

#independent .circle {
	background-color: green;
}

.pictogram {
	width: 610px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#education .card h3.label {
	text-align: left;
	text-decoration: none;
	clear: both;
	margin-top: 0.3em;
}


.pictogram > .block {
	width: 300px;
	float: left;
}

.pictogram > .left {
	margin-right: 10px;
}

.separator {
	clear: both;
}
